<div layout="column" ui-i18n="{{lang}}" ng-controller="cartaController as cartaCtrl" layout-align="center center">
	
	<div id="grid1" ui-grid="cartaCtrl.carta" ui-grid-auto-resize class="grid" flex="80"></div>	    
		
</div>

