.bo-card{
    width: 100%;
    height: 100%;
    padding: 4px;
}
.bo-card{
    white-space: normal;
    color: #666 !important;
    background-color: #f6f6f6 !important;
    transition: all 0.15s cubic-bezier(0.35, 0, 0.25, 1);
    min-height: 132px;
}

.bo-card:hover{
    color: #106CC8 !important;
    background-color: #ebebeb !important;
}

.bo-card .fa{
    font-size: 58px;
}

.bo-card-title{
    text-transform: none;
    text-align: left;
    font-size: 24px;
    font-weight: 400;
    padding: 4px;
}

.bo-card-parrafo{
    text-transform: none;
    text-align: left;
    padding: 4px;
}

.bo-card .fa {
    font-size: 58px;
}

.bo-title{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
}
