<div layout="column" layout-padding>

    <md-autocomplete
      md-selected-item="crearCtrl.crear.autocomplete.selectedItem"
      md-search-text="crearCtrl.crear.autocomplete.searchText"
      md-selected-item-change="crearCtrl.crearService.selectedItemChange(item)"
      md-items="item in crearCtrl.crearService.queryBusqueda(crearCtrl.crear.autocomplete.searchText)"
      md-item-text="item.nombre"
      md-min-length="0"
      placeholder="¿Qué desea tomar?">
	    <md-item-template>
	      <span md-highlight-text="crearCtrl.crear.searchText" md-highlight-flags="^i">{{item.nombre}} ({{item.precio}}€)</span>
	    </md-item-template>
	    <md-not-found>
	      No se ha encontrado alimento con el texto "{{crearCtrl.crear.searchText}}".
	    </md-not-found>
    </md-autocomplete>

</div>

<div layout="row" layout-align="left left" layout-padding>

  <md-input-container flex="25">
        <label>Cantidad del alimento</label>
        <input ng-model="crearCtrl.crear.newAlimentoPedido.cantidad" type="number">
  </md-input-container>

</div>

<div layout="column" layout-padding layout-align="center center">

    <md-button class="md-raised md-primary" ng-click="crearCtrl.crearService.addAlimentoPedido();">
    <i class="fa fa-plus-circle" style="margin-right:5px;"></i>Añadir Alimento</md-button>

</div>