<div layout="column" ng-controller="crearController as crearCtrl">

	<div layout="row" layout-padding layout-align="left left">

		<md-whiteframe class="md-whiteframe-9dp" flex="30" layout-align="left left">
		    <div class="title-formulario-container">
				<div class="title-formulario-background">
					<div class="title-formulario-text"> Resumen de simulación </div>
				</div>
				<div class="title-formulario-triangulo">
					<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 10 10" preserveAspectRatio="none">
						<polygon class="title-formulario-triangulo-fill" points="0,0 10,0 0,10"></polygon>
					</svg>
				</div>
			</div>
		    <div layout="column" ng-repeat="pedido in crearCtrl.crear.pedidos">

		    	<p><b>Orden {{$index+1}}º, Pedido: {{pedido.idPedido}}, Tiempo: {{pedido.tiempo}} ms</b></p>
		    	<p ng-repeat="alimento in pedido.alimentos" style="text-align: center;
    			margin: 0px;">
		    		
		    		<span style="margin-right:5px;">{{$index +1}} -- </span> {{alimento.nombre}} (x{{alimento.cantidad}}) <span style="margin-left:5px;"> -- {{alimento.precio}} € </span>

		    	</p>
		    	<p style="text-align: center;">Precio pedido {{pedido.idPedido}}: <b> {{pedido.precio}} €</b></p>

		    </div>
		</md-whiteframe>

		<md-whiteframe class="md-whiteframe-9dp" flex="70" layout-align="left left" layout="column" layout-padding>
		    
			<div class="title-formulario-container">
				<div class="title-formulario-background">
					<div class="title-formulario-text"> Formulario de pedidos </div>
				</div>
				<div class="title-formulario-triangulo">
					<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 10 10" preserveAspectRatio="none">
						<polygon class="title-formulario-triangulo-fill" points="0,0 10,0 0,10"></polygon>
					</svg>
				</div>
			</div>

		    <form layout-padding name="pedidoNuevo" class="elementoFormulario" >

				<div class="md-whiteframe-1dp">
					<div class="title-formulario-container">
						<div class="title-formulario-background">
							<div class="title-formulario-text"> Alimentos del pedido </div>
						</div>
						<div class="title-formulario-triangulo">
							<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 10 10" preserveAspectRatio="none">
								<polygon class="title-formulario-triangulo-fill" points="0,0 10,0 0,10"></polygon>
							</svg>
						</div>
					</div>
					<div layout-padding layout="column" ng-include="'./templates/alimentosPedido.template.html'"></div>
				</div>

				<div class="md-whiteframe-1dp">
					<div class="title-formulario-container">
						<div class="title-formulario-background">
							<div class="title-formulario-text"> Resumen y confirmación del pedido </div>
						</div>
						<div class="title-formulario-triangulo">
							<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 10 10" preserveAspectRatio="none">
								<polygon class="title-formulario-triangulo-fill" points="0,0 10,0 0,10"></polygon>
							</svg>
						</div>
					</div>
					<div layout-padding layout="column" ng-include="'./templates/resumenConfirmacion.template.html'"></div>
				</div>

			</form>


		</md-whiteframe>

	</div>

</div>

