body{
    background-color: #ede7f6 !important;
    height: initial !important;
}

textarea{
    resize:none;
    outline: none;
}

textarea:focus{
    border: 1px solid rgb(63,81,181);
}
div .md-whiteframe-1dp{
    background-color: white;
    padding-top: 0px;
    padding-left: 0px;
}

.footer{
    position: fixed !important;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 10;
}

.main-container{
    padding-bottom: 80px;
}

.main-container form{
    padding-top:0px;
}

fieldset { 
    border:none;
}

legend {
    background-color: rgb(63,81,181);
    color: rgba(255,255,255,0.87);
    border-radius: 4px;
    padding: 8px;
 
}
.error{

    padding-right: 5px;
    padding-left: 0;
    font-size: 12px;
    line-height: 14px;
    overflow: hidden;
    opacity: 1;
    margin-top: 0;
    padding-top: 5px;
    color: rgb(221,44,0);
}

.footer-margin{
    margin-bottom:80px;
}

.input-file-container{
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-top: 10px;
}

button.btn-eliminar.md-button{
    margin-top: 5px;
}


label.label-input-file{
    margin-bottom: 30px;
    margin-left: 5px;
    color: #868181;
}



md-progress-linear.file-success .md-bar{
    background-color: #388E3C;
}

md-progress-linear.file-error .md-bar{
    background-color: #F44336
}

md-card-header.md-warn{
    background-color: rgb(216,67,21);
    color: white;
}

md-card md-card-content > p{
    line-height: 30px;
}

.container-margin-top{
    margin-top: 10px;
}

.container-form{
    display: inline-block;
    position: relative;
    padding: 2px;
    margin: 18px 0;
    vertical-align: middle;
}


.title-formulario-container{
    -webkit-box-align: start;
    box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    background-color: #fff;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    overflow-y: visible;
    padding-right: 2px;
}

.title-formulario-background{
    background-color: rgb(63,81,181);
    color: rgba(255,255,255,0.87);
}

.title-formulario-text{
    padding: 8px 8px 8px 20px;
}

.title-formulario-triangulo{
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
    width: 18px;
    height: 35px;
}

.title-formulario-triangulo svg{
    height: 100%;
    overflow: visible;
    position: absolute;
    width: 90%;
}

.title-formulario-triangulo-fill{
    stroke-width: 1;
    fill: rgb(63,81,181);
    stroke: rgb(63,81,181);
}

md-input-container.md-default-theme label, md-input-container label, md-input-container.md-default-theme .md-placeholder, md-input-container .md-placeholder {
    color: rgba(0,0,0,0.7) !important;
}
md-input-container.md-default-theme:not(.md-input-invalid).md-input-has-value label, md-input-container:not(.md-input-invalid).md-input-has-value label {
    color: rgba(0,0,0,0.7) !important;
}

label.bo-label-datepicker{
    margin-left: 16px;
}

md-datepicker.bo-datepicker{
    display: block;
    width: auto;
    margin-right: 0px;
}
.vista-previa-formulario{
    width: 100%;
    height: 100%;
    position: relative;
}

.vista-previa-formulario-container{
    position: fixed;
    top: 85px;
    bottom: 55px;
    width: 100%;
}

md-icon.icono-flecha{
    margin-top: -3px;
    margin-left: 5px;
}

md-icon.icono-flecha-invertida{
    margin-top: -3px;
    margin-right: 5px;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

button.go-to-top{
    position: fixed;
    bottom: 60px;
    right: 0px;
    z-index: 100000;
    margin: 10px;
    -moz-opacity: 0.60;
    opacity: .60;
    filter: alpha(opacity=60);
    margin-right: 20px;
}

button.go-to-top:hover{
    -moz-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=100);
}

md-toolbar.md-warn{
    background-color: rgb(244,81,30);
}

div.listado-formularios-inicio{
    padding: 8px !important;

}

img.logo {
    width: 48px;
    height: 48px;
}

@media (max-width: 959px){
    img.logo {
        width: 38px;
        height: 38px;
    }
}

.logo-text{
    margin-left: 5px;
}

.logo-text p{
    margin: 0px;
}

.footer-text {
    font-size: 14px;
}

md-toolbar#header-solicitudes{
    min-height: 85px;
    max-height: 85px;
}

md-toolbar.footer{
    min-height: 55px;
    max-height: 55px;
}

md-toolbar .md-toolbar-tools{
    min-height: 55px;
    max-height: 55px;
}

md-toolbar .md-toolbar-subtools{
    min-height: 30px;
    max-height: 30px;
}

.header-descarga-previa{
    margin-left: 16px;
    font-size: 14px;
    background-color: chocolate;
    padding: 3px;
    border-radius: 4px;
    color: white;
    text-decoration: none;
}

.pre-loader{
    position: fixed;
    z-index: 99999;
    height: 150px;
    width: 100%;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 200px !important;
    background: rgba(0,0,0,0.5);
    border-radius: 4px;
    color: white;
}



.pre-loader:not(.ng-hide){
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.930) 0.2s;
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.930) 0.2s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.930) 0.2s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.930) 0.2s;

    transition-delay: 0.4s;
    -webkit-transition-delay: 0.4s;
    -moz-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
}

.pre-loader.ng-hide {
    opacity:0;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}


.pre-loader{
    display:block;
}

.elementoFormulario{
    width: 100%;
}

