<div layout="column" layout-padding layout-align="center center">

	<md-list ng-repeat="alimento in crearCtrl.crear.newPedido.alimentos">
	  
	  <p> <span style="margin-right:10px;">{{$index +1}} ----- </span> <b>{{alimento.nombre}}</b> (x{{alimento.cantidad}})</p>

	</md-list>

	
    <md-button class="md-raised md-primary" ng-click="crearCtrl.crearService.enviarPedido();">Confirmar Pedido</md-button>

</div>