<div layout="column" ng-controller="simulacionController as simulacionCtrl" layout-padding>


	<div layout="row" layout-padding layout-align="left left">
		
		<md-whiteframe class="md-whiteframe-9dp" flex="30" layout-align="left left">
		    <div class="title-formulario-container">
				<div class="title-formulario-background">
					<div class="title-formulario-text"> Resumen de simulación </div>
				</div>
				<div class="title-formulario-triangulo">
					<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 10 10" preserveAspectRatio="none">
						<polygon class="title-formulario-triangulo-fill" points="0,0 10,0 0,10"></polygon>
					</svg>
				</div>
			</div>
			<div layout="column" ng-repeat="pedido in simulacionCtrl.crear.pedidos">

		    	<p><b>Orden {{$index+1}}º, Pedido: {{pedido.idPedido}}, Tiempo: {{pedido.tiempo}} ms</b></p>
		    	<span ng-if="pedido.idMesa != undefined" class="badge" style="background:#267ED5; margin:5px;">Mesa {{pedido.idMesa}}</span>
		    	<p ng-repeat="alimento in pedido.alimentos" style="text-align: center;
    			margin: 0px;">
		    		
		    		<span style="margin-right:5px;">{{$index +1}} -- </span> {{alimento.nombre}} (x{{alimento.cantidad}}) <span style="margin-left:5px;"> -- {{alimento.precio}} € </span>

		    	</p>
		    	<p style="text-align: center;">Precio pedido {{pedido.idPedido}}: <b> {{pedido.precio}} €</b></p>

		    	<span class="badge" ng-class="{pagado: pedido.pagado, nopagado: !pedido.pagado}">pagado</span>

		    </div>
		</md-whiteframe>

		<md-whiteframe class="md-whiteframe-9dp" flex="70" layout-align="left left" layout="column">

			<div layout="row" layout-align="center center">

				<span class="badge" style="background:#7FFF00; margin:5px;">{{simulacionCtrl.simulacion.estadoJohnny}}</span>

			</div>

			<div layout="row" layout-padding>

				<div layout="column" flex="50" layout-align="center center" layout-padding>
					<div class="circle1" ng-class="{johnnyMesa: simulacionCtrl.simulacion.johnnyMesa == 1}">Mesa 1</div>

					 <md-progress-linear md-mode="determinate" value="{{simulacionCtrl.simulacion.tiemposMesas['mesa1'].tiempo}}"></md-progress-linear>

					 <span class="badge">{{simulacionCtrl.simulacion.estadoMesas[0]}}</span>

				</div>
				<div layout="column" flex="50" layout-align="center center" layout-padding>
					<div class="circle2" ng-class="{johnnyMesa: simulacionCtrl.simulacion.johnnyMesa == 2}">Mesa 2</div>	

					<md-progress-linear md-mode="determinate" value="{{simulacionCtrl.simulacion.tiemposMesas['mesa2'].tiempo}}"></md-progress-linear>

					<span class="badge">{{simulacionCtrl.simulacion.estadoMesas[1]}}</span>
				</div>

			</div>

			<div layout="row" layout-padding>

				<div layout="column" flex="50" layout-align="center center" layout-padding>
					<div class="circle3" ng-class="{johnnyMesa: simulacionCtrl.simulacion.johnnyMesa == 3} ">Mesa 3</div>

					<md-progress-linear md-mode="determinate" value="{{simulacionCtrl.simulacion.tiemposMesas['mesa3'].tiempo}}"></md-progress-linear>

					<span class="badge">{{simulacionCtrl.simulacion.estadoMesas[2]}}</span>
				</div>
				<div layout="column" flex="50" layout-align="center center" layout-padding>
					<div class="circle4" ng-class="{johnnyMesa: simulacionCtrl.simulacion.johnnyMesa == 4}">Mesa 4</div>

					<md-progress-linear md-mode="determinate" value="{{simulacionCtrl.simulacion.tiemposMesas['mesa4'].tiempo}}"></md-progress-linear>

					<span class="badge">{{simulacionCtrl.simulacion.estadoMesas[3]}}</span>
				</div>

			</div>

			<div layout="row" layout-align="center center" layout-padding>

				<md-button class="md-raised md-primary" ng-click="simulacionCtrl.simulacionService.comenzarSimulacion();">Comenzar Simulación</md-button>

			</div>
		    
		</md-whiteframe>	

	</div>


</div>


