.circle1
{
width:150px;
height:150px;
border-radius:50%;
font-size:15px;
color:#fff;
line-height:150px;
text-align:center;
background:#267ED5; 
}
.circle2
{
width:150px;
height:150px;
border-radius:50%;
font-size:15px;
color:#fff;
line-height:150px;
text-align:center;
background:#267ED5; 
}

.circle3
{
width:150px;
height:150px;
border-radius:50%;
font-size:15px;
color:#fff;
line-height:150px;
text-align:center;
background:#267ED5; 
}

.circle4
{
width:150px;
height:150px;
border-radius:50%;
font-size:15px;
color:#fff;
line-height:150px;
text-align:center;
background:#267ED5; 
}

.badge {
    margin-left: 5px;
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 20px;
    font-weight: bold;
    background-color: #a7abaf;
    padding: 5px 9px;
}

.johnnyMesa{
    background: #7FFF00;
}

.pagado{
    background:#5cb85c;
}

.nopagado{
    background: red;
}